## Preprocessing

In [84]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("/Users/g/deep-learning-challenge/Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [85]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns =['EIN','NAME'])

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [86]:
# Determine the number of unique values in each column.
application_df.nunique()

EIN                       34299
NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [87]:
# Look at APPLICATION_TYPE value counts for binning
value_counts = application_df['APPLICATION_TYPE'].value_counts()
value_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [88]:
# Choose a cutoff value and create a list of application types to be replaced
application_types_to_replace = list(value_counts[value_counts<300].index)
application_types_to_replace
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [89]:
# Look at CLASSIFICATION value counts for binning
value_counts2 = application_df['CLASSIFICATION'].value_counts()
value_counts2

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [90]:
# You may find it helpful to look at CLASSIFICATION value counts >1
vc_2class_ = value_counts2[value_counts2>1]
vc_2class_

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [91]:
# Choose a cutoff value and create a list of classifications to be replaced
classifications_to_replace = list(value_counts2[value_counts2<100].index)
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [92]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, dtype=float)
application_df.head()

,EIN,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,10520599,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,10531628,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,10547893,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,10553066,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,10556103,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [93]:
# Split our preprocessed data into our features and target arrays
y = application_df.IS_SUCCESSFUL.values
X = application_df.drop(columns="IS_SUCCESSFUL").values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [94]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [95]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 8)                 156952
_________________________________________________________________
dense_1 (Dense)              (None, 5)                 45
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 6
=================================================================
Total params: 157,003
Trainable params: 157,003
Non-trainable params: 0
_________________________________________________________________

2022-12-19 12:24:42.341866: I tensorflow/core/platform/cpu_feature_guard.cc:145] This TensorFlow binary is optimized with Intel(R) MKL-DNN to use the following CPU instructions in performance critical operations:  SSE4.1 SSE4.2
To enable them in non-MKL-DNN operations, rebuild TensorFlow with the appropriate compiler flags.
2022-12-19 12:24:42.342310: I tensorflow/core/common_runtime/process_util.cc:115] Creating new thread pool with default inter op setting: 10. Tune using inter_op_parallelism_threads for best performance.

In [96]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [97]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Train on 25724 samples
Epoch 1/100
25724/25724 [==============================] - 4s 143us/sample - loss: 0.6413 - accuracy: 0.6699
Epoch 2/100
25724/25724 [==============================] - 3s 115us/sample - loss: 0.3408 - accuracy: 0.8983
Epoch 3/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.1826 - accuracy: 0.9541
Epoch 4/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.1353 - accuracy: 0.9599
Epoch 5/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.1207 - accuracy: 0.9608
Epoch 6/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.1112 - accuracy: 0.9618
Epoch 7/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.1064 - accuracy: 0.9608
Epoch 8/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.1018 - accuracy: 0.9622
Epoch 9/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.1004 - accuracy: 0.9625
Epoch 10/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.0986 - accuracy: 0.9623
Epoch 11/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.0969 - accuracy: 0.9622
Epoch 12/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.0964 - accuracy: 0.9630
Epoch 13/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.0952 - accuracy: 0.9621
Epoch 14/100
25724/25724 [==============================] - 3s 119us/sample - loss: 0.0944 - accuracy: 0.9628
Epoch 15/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.0932 - accuracy: 0.9632
Epoch 16/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.0932 - accuracy: 0.9629
Epoch 17/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.0923 - accuracy: 0.9625
Epoch 18/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.0919 - accuracy: 0.9626
Epoch 19/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.0916 - accuracy: 0.9631
Epoch 20/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.0910 - accuracy: 0.9629
Epoch 21/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.0909 - accuracy: 0.9631
Epoch 22/100
25724/25724 [==============================] - 3s 118us/sample - loss: 0.0900 - accuracy: 0.9631
Epoch 23/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.0899 - accuracy: 0.9638
Epoch 24/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.0896 - accuracy: 0.9638
Epoch 25/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.0895 - accuracy: 0.9627
Epoch 26/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.0887 - accuracy: 0.9639
Epoch 27/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.0888 - accuracy: 0.9647
Epoch 28/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.0881 - accuracy: 0.9646
Epoch 29/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.0879 - accuracy: 0.9641
Epoch 30/100
25724/25724 [==============================] - 3s 119us/sample - loss: 0.0880 - accuracy: 0.9647
Epoch 31/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.0870 - accuracy: 0.9649
Epoch 32/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.0872 - accuracy: 0.9645
Epoch 33/100
25724/25724 [==============================] - 3s 118us/sample - loss: 0.0871 - accuracy: 0.9646
Epoch 34/100
25724/25724 [==============================] - 3s 121us/sample - loss: 0.0866 - accuracy: 0.9647
Epoch 35/100
25724/25724 [==============================] - 3s 118us/sample - loss: 0.0863 - accuracy: 0.9652
Epoch 36/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.0864 - accuracy: 0.9646
Epoch 37/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.0860 - accuracy: 0.9654
Epoch 38/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.0855 - accuracy: 0.9652
Epoch 39/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.0858 - accuracy: 0.9652
Epoch 40/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.0858 - accuracy: 0.9652
Epoch 41/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.0853 - accuracy: 0.9656
Epoch 42/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.0852 - accuracy: 0.9649
Epoch 43/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.0853 - accuracy: 0.9656
Epoch 44/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.0854 - accuracy: 0.9655
Epoch 45/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.0848 - accuracy: 0.9658
Epoch 46/100
25724/25724 [==============================] - 3s 118us/sample - loss: 0.0848 - accuracy: 0.9651
Epoch 47/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.0842 - accuracy: 0.9660
Epoch 48/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.0847 - accuracy: 0.9654
Epoch 49/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.0840 - accuracy: 0.9663
Epoch 50/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.0840 - accuracy: 0.9658
Epoch 51/100
25724/25724 [==============================] - 3s 118us/sample - loss: 0.0839 - accuracy: 0.9660
Epoch 52/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.0840 - accuracy: 0.9658
Epoch 53/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.0840 - accuracy: 0.9662
Epoch 54/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.0835 - accuracy: 0.9665
Epoch 55/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.0837 - accuracy: 0.9665
Epoch 56/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.0836 - accuracy: 0.9661
Epoch 57/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.0832 - accuracy: 0.9658
Epoch 58/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.0829 - accuracy: 0.9664
Epoch 59/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.0832 - accuracy: 0.9666
Epoch 60/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.0831 - accuracy: 0.9662
Epoch 61/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.0827 - accuracy: 0.9665
Epoch 62/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.0827 - accuracy: 0.9663
Epoch 63/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.0827 - accuracy: 0.9667
Epoch 64/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.0825 - accuracy: 0.9666
Epoch 65/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.0827 - accuracy: 0.9664
Epoch 66/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.0832 - accuracy: 0.9663
Epoch 67/100
25724/25724 [==============================] - 3s 118us/sample - loss: 0.0828 - accuracy: 0.9664
Epoch 68/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.0827 - accuracy: 0.9661
Epoch 69/100
25724/25724 [==============================] - 4s 161us/sample - loss: 0.0821 - accuracy: 0.9661
Epoch 70/100
25724/25724 [==============================] - 3s 114us/sample - loss: 0.0821 - accuracy: 0.9665
Epoch 71/100
25724/25724 [==============================] - 3s 115us/sample - loss: 0.0821 - accuracy: 0.9661
Epoch 72/100
25724/25724 [==============================] - 3s 118us/sample - loss: 0.0820 - accuracy: 0.9664
Epoch 73/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.0823 - accuracy: 0.9665
Epoch 74/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.0824 - accuracy: 0.9667
Epoch 75/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.0816 - accuracy: 0.9674
Epoch 76/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.0821 - accuracy: 0.9666
Epoch 77/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.0819 - accuracy: 0.9668
Epoch 78/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.0818 - accuracy: 0.9673
Epoch 79/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.0816 - accuracy: 0.9669
Epoch 80/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.0818 - accuracy: 0.9666
Epoch 81/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.0814 - accuracy: 0.9675
Epoch 82/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.0817 - accuracy: 0.9671
Epoch 83/100
25724/25724 [==============================] - 3s 118us/sample - loss: 0.0820 - accuracy: 0.9672
Epoch 84/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.0811 - accuracy: 0.9667
Epoch 85/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.0815 - accuracy: 0.9672
Epoch 86/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.0810 - accuracy: 0.9668
Epoch 87/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.0813 - accuracy: 0.9670
Epoch 88/100
25724/25724 [==============================] - 3s 118us/sample - loss: 0.0806 - accuracy: 0.9671
Epoch 89/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.0809 - accuracy: 0.9672
Epoch 90/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.0810 - accuracy: 0.9676
Epoch 91/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.0812 - accuracy: 0.9675
Epoch 92/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.0810 - accuracy: 0.9673
Epoch 93/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.0805 - accuracy: 0.9680
Epoch 94/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.0811 - accuracy: 0.9672
Epoch 95/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.0809 - accuracy: 0.9674
Epoch 96/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.0809 - accuracy: 0.9679
Epoch 97/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.0807 - accuracy: 0.9673
Epoch 98/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.0805 - accuracy: 0.9677
Epoch 99/100
25724/25724 [==============================] - 3s 118us/sample - loss: 0.0805 - accuracy: 0.9680
Epoch 100/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.0804 - accuracy: 0.9679

In [98]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/1 - 1s - loss: 0.7732 - accuracy: 0.6437
Loss: 0.7383467758431727, Accuracy: 0.6437317728996277

In [104]:
# Export our model to HDF5 file
nn.save('/Users/g/deep-learning-challenge/AlphabetSoupCharity.h5')
files.download('/Users/g/deep-learning-challenge/AlphabetSoupCharity.h5')

NameError: name 'files' is not defined